- return unless (group_pending_deletion = group.self_or_ancestor_marked_for_deletion)

- date = permanent_deletion_date_formatted(group_pending_deletion, group_pending_deletion.marked_for_deletion_on)

.text-warning.center.prepend-top-20
  %p
    = sprite_icon('warning-solid', size: 12)
    - if group.marked_for_deletion?
      = _("This group, its subgroups and projects has been scheduled for removal on %{date}.") % { date: date }
    - else
      = _("This group, its subgroups and projects will be removed on %{date} since its parent group '%{parent_group_name}' has been scheduled for removal.") % { date: date, parent_group_name: group_pending_deletion.name }

