.user-profile-sidebar
  .profile-header.gl-pb-5.gl-pt-3.gl-overflow-y-auto.gl-sm-pr-4
    .gl-align-top.gl-text-left.gl-max-w-80.gl-wrap-anywhere
      .user-info
        - if @user.confirmed?
          .gl-display-flex.gl-gap-4.gl-flex-direction-column
            - if @user.pronouns.present? || @user.pronunciation.present? || @user.bio.present?
              %div
                %h2.gl-font-base.gl-mb-2.gl-mt-4= s_('UserProfile|About')
                .gl-display-flex.gl-gap-2.gl-flex-direction-column
                  - if @user.pronouns.present? || @user.pronunciation.present?
                    .gl-mb-2
                      - if @user.pronunciation.present?
                        %p.gl-m-0
                          = s_("UserProfile|Pronounced as:")
                          %span.gl-font-sm.gl-text-secondary.gl-inline-flex= @user.pronunciation
                      - if @user.pronouns.present?
                        %p.gl-m-0
                          = s_("UserProfile|Pronouns:")
                          %span.gl-font-sm.gl-text-secondary.gl-inline-flex= @user.pronouns
                  - if @user.bio.present?
                    %p.profile-user-bio.gl-mb-0
                      = @user.bio

            - if @user.achievements_enabled && Ability.allowed?(current_user, :read_user_profile, @user)
              #js-user-achievements{ data: { root_url: root_url, user_id: @user.id } }

            - user_local_time = local_time(@user.timezone)
            %div{ itemprop: 'address', itemscope: true, itemtype: 'https://schema.org/PostalAddress' }
              %h2.gl-font-base.gl-mb-2.gl-mt-4= s_('UserProfile|Info')
              - if work_information(@user).present?
                .gl-display-flex.gl-gap-2.gl-mb-2
                  = sprite_icon('work', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                  %span
                    = work_information(@user, with_schema_markup: true)
              - if @user.location.present?
                .gl-display-flex.gl-gap-2.gl-mb-2
                  = sprite_icon('location', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                  %span{ itemprop: 'addressLocality' }
                    = @user.location
              - if user_local_time.present?
                .gl-display-flex.gl-gap-2.gl-mb-2{ data: { testid: 'user-local-time' } }
                  = sprite_icon('clock', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                  %span
                    = user_local_time
              .gl-display-flex.gl-gap-2.gl-mb-2
                = sprite_icon('calendar', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                %span= s_('Member since %{date}') % { date: l(@user.created_at.to_date, format: :long) }

            - if @user.website_url.present? || display_public_email?(@user) || @user.skype.present? || @user.linkedin.present? || @user.twitter.present? || @user.mastodon.present? || @user.discord.present?
              .gl-text-gray-900
                %h2.gl-font-base.gl-mb-2.gl-mt-4= s_('UserProfile|Contact')
                - if @user.website_url.present?
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('earth', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to @user.short_website_url, @user.full_website_url, class: 'gl-text-gray-900', target: '_blank', rel: 'me noopener noreferrer nofollow', itemprop: 'url'
                - if display_public_email?(@user)
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('mail', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to @user.public_email, "mailto:#{@user.public_email}", class: 'gl-text-gray-900', itemprop: 'email'
                - if @user.skype.present?
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('skype', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to @user.skype, "skype:#{@user.skype}", class: 'gl-text-gray-900', title: "Skype"
                - if @user.linkedin.present?
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('linkedin', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to linkedin_name(@user), linkedin_url(@user), class: 'gl-text-gray-900', title: "LinkedIn", target: '_blank', rel: 'noopener noreferrer nofollow'
                - if @user.twitter.present?
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('x', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to @user.twitter, twitter_url(@user), class: 'gl-text-gray-900', title: _("X (formerly Twitter)"), target: '_blank', rel: 'noopener noreferrer nofollow'
                - if @user.mastodon.present?
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('mastodon', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to @user.mastodon, mastodon_url(@user), class: 'gl-text-gray-900', title: "Mastodon", target: '_blank', rel: 'noopener noreferrer nofollow'
                - if @user.discord.present?
                  .gl-display-flex.gl-gap-2.gl-mb-2
                    = sprite_icon('discord', css_class: 'gl-fill-icon-subtle gl-mt-1 flex-shrink-0')
                    = link_to @user.discord, discord_url(@user), class: 'gl-text-gray-900', title: "Discord", target: '_blank', rel: 'noopener noreferrer nofollow'
