- if ::Gitlab::Llm::TanukiBot.show_breadcrumbs_entry_point?(user: current_user, container: @group || @project)
  - label = s_('DuoChat|GitLab Duo Chat')
  - chat_disabled_reason = ::Gitlab::Llm::TanukiBot.chat_disabled_reason(user: current_user, container: @group || @project).to_s

  - if chat_disabled_reason.present?
    - translated_project = s_('DuoChat|project')
    - translated_group = s_('DuoChat|group')
    - translated_reason = chat_disabled_reason == 'project' ? translated_project : translated_group
    - tooltip_text = safe_format(s_('DuoChat|An administrator has turned off GitLab Duo for this %{reason}'), reason: translated_reason)

    %span.has-tooltip{ title: tooltip_text, data: { container: 'body' } }
      = render Pajamas::ButtonComponent.new(variant: :default,
        category: :secondary,
        icon: 'tanuki-ai',
        size: 'medium',
        button_options: { class: 'disabled-button-1 gl-ml-3 gl-hidden md:gl-inline', data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button', chat_disabled_reason: chat_disabled_reason }, aria: { label: label, disabled: "true" }, disabled: true }) do
        = label

    %span.has-tooltip{ title: tooltip_text, data: { container: 'body' } }
      = render Pajamas::ButtonComponent.new(variant: :default,
        category: :secondary,
        icon: 'tanuki-ai',
        size: 'medium',
        button_options: { class: 'disabled-button-2 gl-ml-3 md:gl-hidden', data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button', chat_disabled_reason: chat_disabled_reason }, aria: { label: label, disabled: "true" }, disabled: true })

  - else
    = render Pajamas::ButtonComponent.new(variant: :default,
      category: :secondary,
      icon: 'tanuki-ai',
      size: 'medium',
      button_options: { class: 'enabled-button js-tanuki-bot-chat-toggle gl-ml-3 gl-hidden md:gl-inline', data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button' }, aria: { label: label }}) do
      = label
    = render Pajamas::ButtonComponent.new(variant: :default,
      category: :secondary,
      icon: 'tanuki-ai',
      size: 'medium',
      button_options: { class: 'enabled-button js-tanuki-bot-chat-toggle gl-ml-3 md:gl-hidden', data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button'}, aria: { label: label }})
