- return unless @project.feature_available?(:merge_requests, current_user)
- return unless @project.feature_available?(:merge_request_approvers, current_user)

= render ::Layouts::SettingsSectionComponent.new(_('Merge request approvals'),
  id: 'js-merge-request-approval-settings',
  options: { class: 'merge-requests-feature' }) do |c|
  - c.with_description do
    - link = link_to('', help_page_path('user/compliance/compliance_center/compliance_violations_report', anchor: 'separation-of-duties'), target: '_blank', rel: 'noopener noreferrer')
    = safe_format(s_('MergeRequestApprovals|Define approval rules and settings to ensure %{link_start}separation of duties%{link_end} for new merge requests.'), tag_pair(link, :link_start, :link_end))
    = link_to _("Learn more."), help_page_path("user/project/merge_requests/approvals/index"), target: '_blank', rel: 'noopener noreferrer'
  - c.with_body do
    = render 'projects/settings/merge_requests/merge_request_approvals_settings_form'
